body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#plan {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*---------------------------------------------------*/
/*Stop watch styles*/
#stopWatch {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#digits {
    width: 150px;
    height: 30px;
    padding: 10px;
    text-align: center;
    background-color:black;
    color: #33FF33;
    font-size: 22px;
    font-family: 'Iceland', cursive;
    border-radius: 8px;
}

#buttons {
    margin: 8px 1px;
}


#alarmDes {
    margin: 20px 1px;
    font-size: large;
}

#stopWatch label {
    display: block;
    font-size: 0.8em;
}

#alarm > div {
    margin-bottom: 0.5em;
}


/*---------------------------------------------------*/
/*Todo area styles*/
#addTodo {
    height: 2em;
    border: 0;
    border-bottom: 2px solid gray;
}

#addTodo:focus {
    height: 2em;
    border: 0;
    border-bottom: 2px solid rgb(212, 145, 145);
    outline: none;
}

#todos {
    padding: 4px;
}

#todoArea #todoitem {
    height: 1.5em;
}

#todoArea label {
    height: 2em;
    padding: 0px 4px;
}

#todoArea .finishedToDo {
    text-decoration: line-through;
    color: gray;
}